#dependencies
/node_modules
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# System files
.DS_Store

# Local uploads (do not track uploaded images)
/public/appetizer_uploads/